{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul>
      {% for message in messages %}
        <li>{{ message }} </li>
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
{% if lista_ordini %}
  <ul>
    {% for studente in lista_ordini|sort(attribute='name') %}
      <li><a href="{{ url_for('order_page', ordine_id = studente.id, ordine_nome = studente.name) }}">{{ studente.name }}</a></li>
    {% endfor %}
  </ul>
{% endif %}
<h2>Crea nuovo</h2>
<form action="" method="post" name="new_order">
  {{ form.hidden_tag() }}
  <p>
    Nome studente:<br/>
    {{ form.nome_ordine(size=40) }}<br/>
  </p>
  <p>{{ form.grades }}</p>
  <p><input type="submit" value="Procedi"></p>
</form>
