{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul>
      {% for message in messages %}
        <li>{{ message }} </li>
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<h1>testone</h1>
<form action="" method="post" name="carosello">
  {{ form.hidden_tag() }} 
  <p>
    Seleziona scuola: <br/>
    {{ form.grades }}
  </p>
  <p><input name="" type="submit" value="Seleziona"/></p>
</form>

<div>
  {% for book in lista_associata %}
    <span>{{ book.title }}</span>
  {% endfor %}
</div>
